.body{
    display:flex;
    justify-content: center;
    text-align: center;
    background-color: gray;
}
.mode{
    color: yellow;
}
.board{
    width: 500px;
    height: 500px;
    display: grid;
}
.error{
    color: yellow;
}